{% extends 'base.html' %}{% block title %}{{ title }} | Explore{% endblock %}
{% block main %}
<div style="display: table"><div style="display: table-cell"><a href="/download/{{ currentPath }}"><span class="material-icons-outlined mdi-24px">file_download</span></a></div><div style="display: table-cell" class="pl-10"><form method=post action="/upload/{{ currentPath }}" enctype=multipart/form-data>
    <label for="fileUpload"><span class="material-icons-outlined mdi-24px">checklist_rtl</span></label>
    <input class="btn fileUpload" id = "fileUpload" type=file name=file>
    <!--- <label for="fileUploadSubmit"><span class="material-icons-outlined mdi-24px">file_upload</span></label> --->
    <input class="btn" id = "fileUploadSubmit "type=submit value=Upload>
    <!--- https://www.w3docs.com/snippets/css/how-to-customize-file-inputs.html -->
</form></div></div>
<br><br>
<div class="overflow-x-auto">
    <table class="table table-compact w-4/5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last changed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th><a href="/explore/{{ file['link'] }}"><span class="material-icons-outlined">{{ file["icon"] }}</span> {{ file["name"] }}</a></th>
                <td>{{ file["size"] }}</td>
                <td>{{ file["date"] }}</td>
                <td><a href="/download/{{ file['link'] }}"><span class="material-icons-outlined">file_download</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}