{% extends 'base.html' %}{% block title %}{{ title }} | Explore{% endblock %}
{% block main %}
<script>    
    dwnLoadPath = new URL(location.protocol + '//' + location.host + "/download/{{ currentPath }}");
    function dwnload() {
        // https://stackoverflow.com/a/61598154
        const checkedBoxes = [...document.querySelectorAll('.filesel:checked')].map(e => e.value);
        if (checkedBoxes.length > 0) {
            const checkedBoxesString = checkedBoxes.join('||');
            dwnLoadPath.searchParams.set("files", checkedBoxesString);
        } else {
            dwnLoadPath.searchParams.set("files", "*");
        }
        console.log("Your Path: " + dwnLoadPath.href);
        window.location.href = dwnLoadPath.href;
    }
</script>
<div style="display: table"><div style="display: table-cell"><span onclick="dwnload()"><span class="material-icons-outlined mdi-24px cursor-pointer">file_download</span></span></div><div style="display: table-cell" class="pl-10"><form method=post action="/upload/{{ currentPath }}" enctype=multipart/form-data>
    <label for="fileUpload"><span class="material-icons-outlined mdi-24px cursor-pointer">checklist_rtl</span></label>
    <input class="btn fileUpload" id = "fileUpload" type=file name=file>
    <!--- <label for="fileUploadSubmit"><span class="material-icons-outlined mdi-24px">file_upload</span></label> --->
    <input class="btn" id = "fileUploadSubmit "type=submit value=Upload>
    <!--- https://www.w3docs.com/snippets/css/how-to-customize-file-inputs.html -->
</form></div></div>
<br><br>
<div class="overflow-x-auto">
    <table class="table table-compact w-4/5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last changed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th><input type="checkbox" class="checkbox filesel" value="{{ file['name'] }}"><span class="pr-5"></span><a href="/explore/{{ file['link'] }}"><span class="material-icons-outlined">{{ file["icon"] }}</span> {{ file["name"] }}</a></th>
                <td>{{ file["size"] }}</td>
                <td>{{ file["date"] }}</td>
                <td><a href="/download/{{ file['link'] }}?files=*"><span class="material-icons-outlined">file_download</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}