{% extends 'base.html' %}{% block title %}Preview{% endblock %}
{% block main %}
<!--- <link href="/static/prism.css" rel="stylesheet"> --->
<script src="/static/prism.js"></script>
<script>
    if (window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.write('<link rel="stylesheet" href="/static/prism-dark.css">');
        } else { 
        document.write('<link rel="stylesheet" href="/static/prism-light.css">');
        }
</script>
<pre data-src="{{ file }}" class="w-full h-full rounded"></pre>
{% endblock %}